/* font-famaly-hear */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Black.woff2') format('woff2'),
    url('../fonts/Gilroy-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Heavy.woff2') format('woff2'),
    url('../fonts/Gilroy-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
    url('../fonts/Gilroy-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
    url('../fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/* font-famaly-hear-end */

/* root */
:root {
  --poppins: "Poppins", sans-serif;
  --montserrat: "Montserrat", serif;
  --inter: "Inter", serif;
  --lato: "Lato", serif;
  --gilroy: "Gilroy", serif;

  --white-color: #fff;
  --black-color: #000;

  --primary: #253761;
  --primary-light: #253761;
  --warning: #F6C543;
  --warning-light: #FFF5D5;
  --orange: #F5772D;
  --orange-light: #FFC5BF;
  --green: #008081;
  --shadow-1: 0px 0px 25px 5px #CCD1DD66;
  --shadow-2: 0px 0px 25px 5px #CCD1DD66;


  --body-color: #253761;
  --heading-color: #253761;
}

/* root */

/* defaults-css-start */
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 27px;
  font-family: var(--poppins);
  font-size: 18px;
  font-weight: 400;
  background-color: #F8FAFF;
}

a,
button {
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
}

a:focus,
button:focus,
.btn:focus {
  outline: none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--poppins);
  color: var(--heading-color);
  margin-top: 0px;
  font-style: normal;
  font-weight: 700;
  text-transform: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

li {
  list-style: none;
}

p {
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  color: var(--body-color);
  margin-bottom: 15px;
}

label {
  color: var(--body-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

*::-moz-selection {
  background: var(--green);
  color: var(--white-color);
  text-shadow: none;
}

::-moz-selection {
  background: var(--green);
  color: var(--white-color);
  text-shadow: none;
}

::selection {
  background: var(--green);
  color: var(--white-color);
  text-shadow: none;
}

*::-moz-placeholder {
  color: var(--body-color);
  font-size: 16px;
  opacity: 1;
}

*::placeholder {
  color: var(--body-color);
  font-size: 16px;
  opacity: 1;
}

/* defaults-css--end */

/* theme-css */

.h1 {
  font-size: 46px;
  line-height: 54px;
  font-weight: 700;
  color: var(--heading-color);
}

.h2 {
  font-size: 44px;
  line-height: 55px;
  font-weight: 700;
  color: var(--heading-color);
}

.h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: var(--heading-color);
}

.container-inner {
  max-width: 996px;
  margin: 0 auto;
  width: 100%;
}


.btn {
  padding: 18px 23px;
  font-size: 18px;
  line-height: 27px;
  font-family: var(--poppins);
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 600;
}

.btn-icon {
  padding: 11px 28px;
}

.btn-main {
  background-color: #C5D8FC;
  color: #203864;
  border-color: #C5D8FC;
}

.btn-main:hover {
  background-color: #94abd6;
  color: #203864;
  border-color: #94abd6;
}

.btn-warn {
  background-color: var(--warning-light);
  border-color: var(--warning-light);
  color: var(--warning);
}

.btn-warn:hover {
  background-color: #fef2c9;
  border-color: #fef2c9;
  color: var(--warning);
}

.btn-down {
  background-color: var(--orange-light);
  border-color: var(--orange-light);
  color: var(--orange);
}

.btn-down:hover {
  background-color: #ffb387;
  border-color: #ffb387;
  color: var(--orange);
}


.section-padding {
  padding: 72px 0px 72px;
}



/* theme-css-end */

/* layout-css */


.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 283px;
  background: #FFFFFF;
  height: 100%;
  z-index: 22;
  padding: 17px 25px;
  transition: all .3s ease;
}

.content-wrapper {
  margin-left: 283px;
}

.main-content {
  padding-left: 30px;
}

/* layout-css--end */



/* ======== header style start ============ */

.header {
  padding: 39px 0px 20px;
}

.dropdown--language button {
  background: #C5D8FC;
  padding: 6px 10px;
  border: none;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.dropdown--language button.dropdown-toggle::after {
  background-image: url('../imgs/arrow-down.svg');
  border: none;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 10px;
}

.dropdown--language button img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.bar {
  font-size: 26px;
  cursor: pointer;
  color: var(--primary);
}

/* ======== header style end ============ */

/* ======== hero style start ============ */


.hero-content h1 span.heilightText {
  font-size: 64px;
  position: relative;
  display: inline-block;
}

.hero-content h1 span.underline {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-content h1 {
  margin-bottom: 55px;
}

.hero-content__img {
  max-width: 100%;
}

/* ======== hero style end ============ */

/* ======== sections style start ============ */


.about-content h2 span.heilightText {
  position: relative;
  color: var(--warning);
  display: inline-block;
}

.about-content h2 span.underline {
  position: absolute;
  top: 58%;
  left: -4%;
}

.about-content h2 span.underline img {
  max-width: 100%;
}

.about-content h2 {
  margin-bottom: 30px;
}

.about-content p {
  margin-bottom: 28px;
}

.about-img {
  position: relative;
  text-align: end;
}

.about-img__dots {
  position: absolute;
  left: 82%;
  top: 0;
}

.about-img__block {
  position: relative;
}

.about-img__block img {
  max-width: 100%;
}

/* ======== sections style end ============ */

/* ======== sections style start ============ */


.features-wrapper {
  max-width: 1071px;
  background: #C5D8FC;
  width: 100%;
  margin: 0 auto;
  border-radius: 70px;
  padding: 90px 37px;
}

.features-title {
  text-align: center;
}

.features-title h2 span {
  color: var(--orange);
}

.features-title {
  margin-bottom: 48px;
}

.features-item {
  padding: 34px 28px;
  border-radius: 45px;
}

.features-item--1 {
  background: #203864;
}

.features-item--2 {
  background: #F5772D;
}

.features-item--3 {
  background: #008081;
}

.features-item__icon span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  border-radius: 25px;
}

.features-item--1 .features-item__icon span {
  background: #334D7C;
}

.features-item--2 .features-item__icon span {
  background: #F9955A;
}

.features-item--3 .features-item__icon span {
  background: #149596;
}

.features-item__icon {
  margin-bottom: 24px;
}

.features-item__content h3 {
  margin-bottom: 13px;
}

.features-item__content p {
  margin-bottom: 0px;
}

.features-object-2 {
  bottom: -64px;
  right: -117px;
}

/* ======== sections style end ============ */

/* ======== feature-block style start ============ */


.features-object-2 {
  bottom: -64px;
  right: -117px;
}

.feature-block__img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 13px;
  grid-row-gap: 13px;
  max-width: 424px;
}

.feature-block__img-item-1 {
  grid-area: 1 / 1 / 2 / 6;
}

.feature-block__img-item-2 {
  grid-area: 2 / 1 / 3 / 4;
}

.feature-block__img-item-3 {
  grid-area: 2 / 4 / 3 / 6;
}

.feature-block__img-item img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.feature-block__content h2 span.green-text {
  color: var(--green);
}

.feature-block__content h2 span.warn-text {
  color: var(--warning);
}

.feature-block__content h2 {
  margin-bottom: 40px;
}

.feature-block__content p {
  margin-bottom: 35px;
}

/* ======== feature-block style end ============ */

/* ======== start-here style start ============ */


.start-area {
  background: var(--primary);
  padding-top: 110px;
  overflow: hidden;
}

.start-object-2 {
  right: -142px !important;
}


.start-wrapper {
  background: #F4F7F3;
  border-radius: 12px;
  text-align: center;
  padding: 53px 30px 84px;
}

.start-content span {
  padding: 4px 10px;
  background: #fff;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 500;
  font-family: var(--inter);
  color: var(--primary);
  display: inline-flex;
  line-height: 21px;
  margin-bottom: 8px;
}

.start-content h2 {
  font-weight: 600;
  font-family: var(--inter);
  color: #22281E;
  margin-bottom: 16px;
}

.start-content p {
  font-family: var(--poppins);
  color: #5F79B6;
  margin-bottom: 24px;
}

.start-content .btn-main {
  background: var(--primary);
  color: #fff;
  font-family: var(--inter);
  font-weight: normal;
  padding: 14px 39px;
  border-color: var(--primary);
}

.start-content .btn-main:hover {
  background: transparent;
  color: var(--primary);
}

/* ======== start-here style end ============ */


/* ======== footer style start ============ */


.footer {
  background: var(--primary);
  padding: 79px 0px 100px;
  overflow: hidden;
}

.footer-object {
  bottom: -139px;
  left: 10px;
}

.footer-widget h6 {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--inter);
  margin-bottom: 26px;
}

.footer-text h6 {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--inter);
  margin-bottom: 26px;
}

.footer-widget p {
  color: #FFFFFFE5;
  font-size: 16px;
  margin-bottom: 0px;
}

.footer-widget p a {
  color: #FFFFFFE5;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.footer-form button.btn {
  color: #203864;
  font-size: 15px;
  font-weight: 500;
  font-family: var(--inter);
  background: #A9FF9B;
  padding: 14px 12px;
  flex: 0 0 auto;
}

.footer-form button.btn:hover {
  background: #65FF4D;
}

.footer-form .form-control {
  background: #FFFFFF1A;
  border: none;
  color: #fff;
  font-size: 16px;
  font-family: var(--inter);
  outline: none;
  box-shadow: none;
}

.footer-form .form-control::placeholder {
  color: #fff;
  font-family: var(--inter);
  font-size: 16px;
  font-weight: non;
}

/* ======== footer style end ============ */


/* ======== Sidebar-css style start ============ */


.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--montserrat);
  font-weight: 700;
  color: #8F8F8F;
  text-decoration: none;
  line-height: 24px;
  margin-bottom: 13px;
}

.navMain ul li a {
  font-family: var(--montserrat);
  color: #8C90B6;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 16px 25px;
  border-radius: 10px;
}

.navMain ul li a span.icon {
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.navMain ul li a.active {
  background: #314C80;
  color: #fff;
}

.navMain ul li a svg path {
  fill: #8C90B6;
}

.navMain ul li a.active svg path {
  fill: #fff;
}

.navMain ul li:hover a {
  background: #C5D8FC;
}

/* ======== Sidebar-css style end ============ */

/* ======== library-page style start ============ */

.library-area {
  max-width: 100%;
  width: 100%;
  background: #fff;
  padding: 20px 20px 100px;
  border-radius: 20px;
}

.search-box {
  max-width: 458px;
  position: relative;
  margin-bottom: 32px;
}

.search-box .form-control {
  border: 1px solid #AFC5EF;
  height: 48px;
  border-radius: 15px;
  padding-left: 45px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #8F8F8F;
  font-family: var(--gilroy);
  outline: none;
  box-shadow: none;
}

.search-abs-btn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
  width: 45px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-outline {
  font-weight: 500;
  font-family: var(--montserrat);
  font-size: 14px;
  line-height: 17px;
  color: #8F8F8F;
  border: 1px solid #AFC5EF;
  padding: 14px 18px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background: transparent;
  border-radius: 15px;
  width: max-content;
  transition: all .3s ease;
}

.btn-outline:hover {
  background-color: #FFC300;
  border-color: #FFC300;
  color: #F8FAFF;
}

.sw-navs button {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #A0A3BD;
  border: 2px solid #A0A3BD;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.sw-navs button:first-child {
  padding-right: 3px;
}

.sw-navs button:last-child {
  padding-left: 4px;
}

.sw-navs button:hover {
  background: #203864;
  border-color: #8C90B6;
}

.category-slider {
  padding: 0px 20px;
}

.category-slider button.btn-outline {
  font-family: var(--inter);
  font-size: 18px;
  color: #203864;
  font-weight: 400;
  transition: all .3s ease;
}

.category-slider button.btn-outline:hover {
  background: #EFF3FC;
  color: #203864;
  border-color: #EFF3FC;
}

.sw-navs button:last-child {
  left: auto;
  right: 0;
}


.book-item {
  box-shadow: 0px 4px 23px 0px #00000012;
  border-radius: 20px;
}

.book-item__img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  position: relative;
  background: #008081;
  height: 330px;
}

.book-item__img-meta {
  padding: 11px 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.book-item__img a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.book-item__content {
  padding: 16px 18px 21px;
}

.book-item__content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
}

.book-item__content-header h6 {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
  color: #203864;
  font-family: var(--montserrat);
}

.book-item__content-header h6 a {
  text-decoration: none;
  color: #203864;
}

.book-item__content-header .like-btn {
  gap: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  color: #203864;
  font-family: var(--gilroy);
  font-weight: 500;
}

.tage {
  display: inline-block;
  padding: 7px 11px;
  font-size: 14px;
  line-height: 16px;
  font-family: var(--montserrat);
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
}

.book-item__content-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 15px;
}

.tage-danger {
  background: #FFF1E9;
  color: var(--orange);
}

.tage-success {
  background: #E2FFFF;
  color: var(--green);
}

.tage-primary {
  background: #EFF3FC;
  color: var(--primary);
}

.book-item__content-infos {
  display: flex;
  align-items: stretch;
  gap: 8px;
  flex-wrap: wrap;
}

.book-item__content-infos span {
  background: #FAFAFA;
  border-radius: 5px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  line-height: 17px;
  flex: 0 0 auto;
  font-family: var(--gilroy);
  font-weight: 500;
}


.book-item__img-meta button {
  background: #FFFFFF66;
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 10px;
  backdrop-filter: blur(34px);
  padding: 0;
}

.books-wrapper .container {
  max-width: 1044px;
}

/* ======== library-page style end ============ */

/* ======== book-resourse-page style start ============ */


.stream-box--content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.stream-box__icon span {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background: var(--primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.stream-box__text p {
  font-weight: 500;
  font-family: var(--gilroy);
}

.book-header__top {
  background: #fff;
  box-shadow: 0px 4px 23px 0px #00000012;
  padding: 20px 0;
}

.book-header__tabNav {
  background: #fff;
  box-shadow: 0px 4px 23px 0px #00000012;
  padding-top: 17px;
}

.book-header__tabNav button {
  padding: 10px 45px 17px;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: var(--lato);
  font-size: 14px;
  line-height: 16px;
  background: #66428A;
  color: #fff;
  transition: all .3s ease;
}

.book-header__tabNav button.active {
  background: #FF5443;
  padding: 17px 45px 17px;
}

.resourse-content {
  padding: 55px 0px 50px;
}

.resourse-wrapper {
  max-width: 873px;
  margin: 0 auto;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;

}

.resourse-header h2 {
  margin-bottom: 0px;
  font-family: var(--lato);
  font-size: 30px;
  font-weight: normal;
  line-height: 35px;
}

.resourse-header {
  border-bottom: 1px solid #D7DBFF;
  padding: 14px 10px 14px;
}

.resourse-body {
  padding: 25px 0px 60px;
}



.resourse-accordion .accordion-item {
  border: none !important;
  border-radius: 0px !important;
}

.resourse-accordion .accordion-button {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none;
  font-size: 18px;
  line-height: 21px;
  font-family: var(--lato);
  color: #364E79;
  padding: 18px 33px;
}

.resourse-accordion .accordion-button span {
  color: #000000;
}

.resourse-accordion .accordion-button::after {
  background-image: url('../imgs/arrrow-down.svg');
  background-position: center;
}

.resourse-accordion .accordion-item:nth-child(even) .accordion-button {
  background-color: #F8FAFF !important;
}

.resourse-accordion .accordion-body {
  background-color: #FAFAFA;
  padding: 4px 33px;
}


.resourse-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0px;
  border-bottom: 1px solid #D7DBFF;
  font-family: var(--lato);

}

.resourse-list li:last-child {
  border-bottom: none;
}

.resourse-list li p {
  color: #364E79;
}

.resourse-list li p span {
  color: #000000;
}

.resourse-list li a.disabled svg path {
  fill: #8C90B6;
}



.resourse-creator {
  padding: 18px 0px;
}

.cardProfile {
  max-width: 150px;
  width: 100%;
  background: #fff;
  border-radius: 11px;
  box-shadow: 0px 2.39px 13.72px 0px #00000012;
}

.cardProfile-img {
  height: 109px;
  background: #FFECBF url('../imgs/card-profile-object.svg') no-repeat center bottom;
  display: flex;
  background-size: contain;
  align-items: flex-end;
  justify-content: center;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.cardProfile-img img {
  max-width: 80px;
}


.cardProfile-info {
  padding: 10px 6px;
}

.cardProfile-info h6 a {
  font-size: 10px;
  line-height: 13px;
  font-weight: 500;
  font-family: var(--gilroy);
  color: #364E79;
  display: inline-block;
  text-decoration: none;
}

.cardProfile-mini {
  display: flex;
  align-items: center;
  gap: 4px;
}

.cardProfile-mini .img {
  width: 22px;
  height: 22px;
  flex: 0 0 auto;
  display: inline-block;
  line-height: 1;
}

.cardProfile-mini .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cardProfile-mini .content a {
  display: inline-flex;
  align-items: center;
  color: #575757;
  font-size: 10px;
  text-decoration: none;
  line-height: 1;
  gap: 2px;
}

.cardProfile-mini .content {
  line-height: 1;
}

.resourse-creator__slider.swiper {
  padding-bottom: 10px;
}


.resourse-slider-nav button {
  background: transparent;
  border: none;
  position: absolute;
  z-index: 10;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.resourse-creator {
  position: relative;
}

.resourse-slider-nav button.r-next {
  left: auto;
  right: -30px;
}

.resourse-slider-nav button.r-prev img {
  transform: rotate(180deg);
}

/* ======== book-resourse-page style end ============ */

/* ======== book-view-page style start ============ */

.stream-box__progress {
  display: flex;
  align-items: center;
  gap: 8px;
}

.stream-box__progress .progress {
  flex: 0 0 auto;
  width: 408px;
  height: 21px;
  background: #FFE7D9;
  border-radius: 30px;
}

.stream-box__progress .progress-bar {
  background: linear-gradient(90deg, #F5772D 0%, #FFC300 100%);
  border-radius: 30px;
}




.view-topBar {
  background: #fff;
  margin-top: 1px;
}

.view-topBar__inner {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 17px 0px 18px;
  gap: 30px;
}



.iconBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  background: transparent;
  padding: 0;
  border: none;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--gilroy);
  line-height: 21px;
  color: #8C90B6;
}

.iconBtn:hover {
  color: #203864;
}

.iconBtn:hover svg path {
  fill: #203864;
}

.boxedBtn {
  width: 35px;
  height: 35px;
  background: #EFF3FC;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 5px;
}

.editor-progress {
  flex: 0 0 auto;
  width: 96px;
  background: #E1E9F6;
  padding: 17px 8px;
  border-radius: 5px;
}

.editor-progress .progress {
  height: 6px;
  background: #A6BEEB;
}

.editor-progress .progress-bar {
  background: #203864;
  border-radius: 30px;
  border-radius: ;
}

.editor-colorPicker {
  display: flex;
  align-items: center;
  gap: 1px;
}

.editor-colorPicker span.color {
  width: 26px;
  height: 26px;
  flex: 0 0 auto;
  background: radial-gradient(182.65% 122.8% at 84.5% 113.5%, #FF1B90 24.39%, #F80261 43.67%, #ED00C0 68.85%, #C500E9 77.68%, #7017FF 89.32%), radial-gradient(51.8% 49.8% at 36.25% 96.55%, #FFD600 0%, #FF6930 48.44%, #FE3B36 73.44%, rgba(254, 59, 54, 0) 100%);
  border-radius: 50%;
}

.editor-groupBtns {
  display: flex;
  align-items: stretch;
  gap: 0;
  background: #E1E9F6;
  border-radius: 40px;
  padding: 5px 10px;
}

.editor-groupBtns button {
  background: transparent;
  border: none;
  padding: 0px;
  width: 40px;
  height: 40px;
}

.editor-numberCount {
  display: flex;
  align-items: stretch;
  background: #E1E9F6;
  border-radius: 40px;
  padding: 5px 10px;
}

.editor-numberCount input {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--gilroy);
  color: #000000;
  border-radius: 10px;
}

.editor-numberCount button {
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
}

.canvas-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 30px;
}

.view-canvas {
  position: relative;
  min-height: calc(100vh - 85px);
  width: 100%;
}


.dropdown-menu.timer-dropdown {
  background: #EFF3FC;
  border: #EFF3FC;
  min-width: 253px;
  padding: 20px 25px;
  transform: translate(0px, 56px) !important;
}

.timer-content h5 {
  font-size: 18px;
  line-height: 21px;
  font-family: var(--gilroy);
  font-weight: 700;
}

.timer-picker__list {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--inter);
  color: #A0A3BD;
}

.timer-picker__list span {
  flex: 0 0 auto;
  width: 33.33%;
  text-align: center;
  padding: 11px 5px;
}

.timer-picker__list.active span {
  border-bottom: 1px solid #8B8B8B;
  border-top: 1px solid #8B8B8B;
  color: #364E79;
  position: relative;
}

.timer-picker__list.active span::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: ":";
}

.timer-picker__list.active span:last-child::after {
  display: none;
}

.timer-picker__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timer-picker__btns button {
  flex: 0 0 auto;
  width: 47%;
  padding: 12px 10px;
  line-height: 1;
  font-size: 12px;
  font-weight: 500;
  font-family: var(--inter);
  border-radius: 7px;
}

.timer-picker__btns button.cancel {
  border: 0.65px solid #AFC5EF;
  background: transparent;
}

.timer-picker__btns .save {
  background: #203864;
  color: #fff;
  border: none;
}

.timer-picker__btns .save:hover {
  background: #274f99;
}

.timer-picker__btns button.cancel:hover {
  background: #AFC5EF;
  color: #000;
}


.book-viewControl--mobile {
  position: fixed;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.book-viewControl__wrapper {
  background: #fff;
  border-radius: 24px;
  padding: 4px 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* ======== book-view-page style end ============ */

/* ======== book-view-page-2 style start ============ */


.canvas-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 296px;
  height: 100%;
  overflow-y: scroll;
  padding: 27px 15px 20px 23px;
  box-shadow: 0px 4px 23px 0px #00000012;
  scrollbar-width: none;
  background: #EFF3FC;
}

.sidebar-page__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  padding: 20px 8px;
  background: transparent;
  border: none;
  border-bottom: 3px solid #A0A3BD;
}

.page-count {
  display: inline-flex;
  margin: 0 0 0 auto;
  width: 38px;
  height: 38px;
  background: #F5772D;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: var(--gilroy);
}

.sidebar-page__item:last-child {
  border-bottom: none;
}

/* ======== book-view-page-2 style end ============ */

/* ======== book-view-pge-3 style start ============ */


.topic-list__header {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 35px;
}

.topic-list__header a {
  display: inline-flex;
  width: 42px;
  height: 42px;
  align-items: center;
  justify-content: center;
  border: 1px solid #314C80;
  border-radius: 50%;
}

.topic-list__header h6 {
  margin-bottom: 0;
  font-family: var(--lato);
  font-weight: normal;
  font-size: 18px;
  color: #203864;
}

.topic-list__header a:hover {
  background: #EFF3FC;
}

.topic-list__accordion {}

.topic-list__accordion .accordion-item {
  border: none;
  border-radius: 0px !important;
  margin-bottom: 11px;
}

.topic-list__accordion .accordion-button {
  border: 1px solid #E5EEFFB2;
  border-radius: 10px !important;
  padding: 16px 50px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #364E79;
  box-shadow: none;
}

.topic-list__accordion .accordion-button::after {
  width: 24px;
  height: 24px;
  background-color: #8C90B6;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  border-radius: 50%;
  background-size: 12px;
  background-image: url('../imgs/arrow-down-white.svg');
  transform: rotate(0);
}

.topic-list__accordion .accordion-button:not(.collapsed)::after {
  background-color: #fff;
  background-image: url('../imgs/arrow-up-theme.svg');
  transform: rotate(0);
}

.topic-list__accordion .accordion-button:not(.collapsed) {
  background-color: #203864;
  color: #fff;
}

.topic-list__accordion .accordion-body {
  background-color: #E1E9F6;
  margin-top: 6px;
  border-radius: 10px;
  padding: 8px 0px;
}


.topic-list__nav ul li a {
  display: flex;
  align-items: center;
  padding: 13px 20px 13px 53px;
  gap: 10px;
  justify-content: flex-start;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #8C90B6;
  position: relative;
}

.topic-list__nav ul li a span {
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topic-list__nav ul li a::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  content: "";
  background: #203864;
  border-radius: 10px;
  opacity: 0;
}


.topic-list__nav ul li a:hover::after {
  opacity: 1;
}

.topic-list__nav ul li a.active::after {
  opacity: 1;
}

.topic-list__nav ul li a.active span svg path {
  fill: #203864;
}

.topic-list__nav ul li a.active {
  color: #203864;
}

.topic-list__nav ul li a span svg path {
  fill: #8C90B6;
}


/* ======== book-view-pge-3 style end ============ */

/* ======== book-view-page-4 style start ============ */


.page-bookmark ul li a {
  border: 1px solid #E5EEFFB2;
  display: block;
  padding: 11px 15px;
  text-align: center;
  position: relative;
  background: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-family: var(--lato);
  color: #364E79;
  margin-bottom: 4px;
  transition: all .3s;
}

.page-bookmark ul li a span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.page-bookmark ul li a.active {
  background: #E1E6F4;
}

.page-bookmark ul li a:hover {
  background: #E1E6F4;
}

/* ======== book-view-page-4 style end ============ */

/* ======== sections style start ============ */
/* ======== sections style end ============ */

/* ======== sections style start ============ */
/* ======== sections style end ============ */